.guides/assessmentsAnswers.json
.guides/bashtests/bash_history.log
.guides/bashtests/shell_output.log
.settings
.codio
report-*.txt
/assessments/
/cache/
/reports/20*/
scanner.conf
.profile
.bash_logout
.bashrc
.motd_shown
scanner.conf
/.ssh/
/.landscape/
/.git/
networkscannerv3.sh
/reports/latest
(V1)network_report.sh
(V2)network_scannerv2.sh
network_scannerv4.sh